{% extends 'blog/base.html' %}{% block content %}
                    <div class="post">
                        {% if post.published_date %}
                            <div class="date">
                                {{ post.published_date }}
                            </div>
                        {% endif %}
                            {% if user.is_authenticated %}<div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Post Actions <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    {% if not post.published_date %}<li><a href="{% url 'post_publish' pk=post.pk %}"><span class="glyphicon glyphicon-upload"></span> Publish</a></li>
                                    {% else %}<li><a href="{% url 'post_unpublish' pk=post.pk %}"><span class="glyphicon glyphicon-download"></span> Unpublish</a></li>{% endif %}
                                    <li><a href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span> Edit</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-trash"></span> Delete</a></li>
                                </ul>
                            </div>
                            <br /><br />Status: {% if post.published_date %}<b>Published</b>{% else %}Unpublished{% endif %}{% endif %}
                            <h1>{{ post.title }}</h1>
                            <p>By {{ post.author }}</p>
                            <p>{{ post.text|linebreaksbr }}</p>
                        </div>
                        <hr id="comments">
                        <a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>
                        {% for comment in post.comments.all %}
                            {% if user.is_authenticated or comment.approved_comment %}
                                <div class = "comment">
                                    <div class="date">
                                        {{ comment.created_date }}
                                        {% if not comment.approved_comment %}
                                            <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                                            <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
                                        {% endif %}
                                    </div>
                                    <strong>{{ comment.author }}</strong> (<a href="{% url 'comment_remove' pk=comment.pk %}">Delete</a>)
                                    {% if user.is_authenticated %}
                                    <p class="comment-detail">IP Address: {{ comment.ip_address }}</p>
                                    <p class="comment-detail">User Agent: {{ comment.user_agent}}</p>
                                    {% endif %}
                                    <p>{{ comment.text|linebreaks }}</p>
                                <div>
                            {% endif %}
                        {% empty %}
                            <p>No comments here yet :(</p>
                        {% endfor %}
                        {% endblock %}